<div class="sort-popup">
    <div class="title">
        <span>Сортировка</span>
        <a href="#" class="close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.192 6.34424L11.949 10.5862L7.70697 6.34424L6.29297 7.75824L10.535 12.0002L6.29297 16.2422L7.70697 17.6562L11.949 13.4142L16.192 17.6562L17.606 16.2422L13.364 12.0002L17.606 7.75824L16.192 6.34424Z" fill="white"/>
    </svg>
        </a>
    </div>
    <div class="sort-popup-filter">
        <a href="#" class="sort-popup-filter-item js-order" data-criteria="order=sales">популярности</a>
        <a href="#" class="sort-popup-filter-item js-order active" data-criteria="order=wmr">цене</a>
    </div>
</div>
<div class="category-filter-mobile">
    <a href="#" class="mobile-link-sort js-sort-popup">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.6665 13.3332H5.99984V5.33317H7.99984L5.33317 2.6665L2.6665 5.33317H4.6665V13.3332ZM13.3332 10.6665H11.3332V2.6665H9.99984V10.6665H7.99984L10.6665 13.3332L13.3332 10.6665Z"
                    fill="white"/>
        </svg>
        <span>Сортировать</span>
    </a>
    <div class="prod-count">12382 товаров</div>
</div>
<div class="category-filter">
    <div class="category-filter-wrap">
        <span>Сортировать по:</span>
        <div class="filter-links">
            <a href="#" class="active js-order" data-criteria="order=sales">популярности</a>
            <a href="#" class="js-order" data-criteria="order=wmr">цене</a>
{#            <a href="#">скидке</a>#}
            <a href="#">
                <svg class="active js-order-by" data-criteria="by=DESC" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 20.9999L13 6.41394L18.293 11.7069L19.707 10.2929L12 2.58594L4.29303 10.2929L5.70703 11.7069L11 6.41394L11 20.9999L13 20.9999Z"/>
                </svg>
                <svg class="js-order-by" data-criteria="by=ASC" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 3.00006L11 17.5861L5.70697 12.2931L4.29297 13.7071L12 21.4141L19.707 13.7071L18.293 12.2931L13 17.5861L13 3.00006L11 3.00006Z"/>
                </svg>
            </a>
        </div>
    </div>
    {#                    <a href="#" class="clear-filter">#}
    {#                        <span>очистить все</span>#}
    {#                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">#}
    {#                            <path d="M10.7946 4.22949L7.96598 7.05749L5.13798 4.22949L4.19531 5.17216L7.02331 8.00016L4.19531 10.8282L5.13798 11.7708L7.96598 8.94283L10.7946 11.7708L11.7373 10.8282L8.90931 8.00016L11.7373 5.17216L10.7946 4.22949Z" fill="white"/>#}
    {#                        </svg>#}
    {#                    </a>#}
</div>