<footer class="footer">
    <div class="container"><a class="logo" href="/"><img src="/img/logo.svg" alt=""/></a>
        <ul class="footer-menu">
            <li><a href="{{ path('static-page', {'static':'contacts'}) }}">Контакты</a></li>
            <li><a href="{{ path('static-page', {'static':'howbuy'}) }}">Покупателю</a></li>
            <li><a rel="nofollow" href="https://ggsel.com/how" target="_blank">Заработать с нами</a></li>
            <li><a rel="nofollow" href="https://ggsel.com" target="_blank">GGsel.com</a></li>
        </ul>
        <div class="pay-system-items">
            <div class="pay-system-item"><img src="/img/yandex.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/webmoney.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/qiwi.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/bitcoin.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/steam-pay.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/visa.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/mastercard.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/mts.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/beeline.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/megafon.svg" alt=""/></div>
            <div class="pay-system-item"><img src="/img/tele-2.svg" alt=""/></div>
        </div>
        <div class="footer-links">
{#            <a class="footer-link" href="{{ path('static-page', {'static':'selleragreement'}) }}">Пользовательское#}
{#                соглашение</a>#}
            {# <a class="footer-link" href="#">Политика конфиденциальности</a> #}
            <div class="copyright">Все права защищены © 2016-2021</div>
        </div>
    </div>
</footer>
<a class="btn btn-to-top" href="#">
    <svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.99864 5.41667L9.6653 0.75H0.33197L4.99864 5.41667Z" fill="#fff"></path>
    </svg>
</a>