{% for review in reviews %}
    <div class="reviews-item">
        <div class="review-left">
            <div class="review-top">
                <div class="info">
                    <div class="date">{{ review.date|split(' ')[0] }}</div>
                    <div class="time">{{ review.date|split(' ')[1] }}</div>
                </div>
            </div>
            <div class="text">{{ review.info }}</div>
        </div>
        {% if review.type == 'good' %}
            <div class="review-right like">
                <svg width="22" height="20" viewbox="0 0 22 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.05253 20H4.10516V6.31579H3.05253C2.49418 6.31579 1.9587 6.53759 1.56388 6.93241C1.16907 7.32722 0.947266 7.8627 0.947266 8.42105V17.8947C0.947266 18.4531 1.16907 18.9886 1.56388 19.3834C1.9587 19.7782 2.49418 20 3.05253 20ZM19.8946 6.31579H12.5262L13.7073 2.77053C13.8126 2.45412 13.8414 2.11721 13.791 1.78753C13.7407 1.45786 13.6128 1.14486 13.4178 0.87431C13.2228 0.603764 12.9663 0.383413 12.6695 0.231406C12.3726 0.0793994 12.0439 8.64345e-05 11.7104 0H11.4736L6.21042 5.72421V20H17.7894L21.9073 10.9516L21.9999 10.5263V8.42105C21.9999 7.8627 21.7781 7.32722 21.3833 6.93241C20.9885 6.53759 20.453 6.31579 19.8946 6.31579V6.31579Z"
                          fill="#31DFAF"></path>
                </svg>
            </div>
        {% else %}
            <div class="review-right dislike">
                <svg width="22" height="20" viewbox="0 0 22 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.8947 -1.84048e-07L18.8421 -2.76072e-07L18.8421 13.6842L19.8947 13.6842C20.4531 13.6842 20.9886 13.4624 21.3834 13.0676C21.7782 12.6728 22 12.1373 22 11.5789L22 2.10526C22 1.54691 21.7782 1.01143 21.3834 0.616617C20.9886 0.221804 20.4531 -1.35235e-07 19.8947 -1.84048e-07ZM3.05263 13.6842L10.4211 13.6842L9.24 17.2295C9.13462 17.5459 9.10591 17.8828 9.15624 18.2125C9.20657 18.5421 9.3345 18.8551 9.5295 19.1257C9.72449 19.3962 9.98097 19.6166 10.2778 19.7686C10.5746 19.9206 10.9033 19.9999 11.2368 20L11.4737 20L16.7368 14.2758L16.7368 -4.6012e-07L5.1579 -1.47238e-06L1.04 9.04842L0.94737 9.47368L0.947369 11.5789C0.947369 12.1373 1.16917 12.6728 1.56399 13.0676C1.9588 13.4624 2.49428 13.6842 3.05263 13.6842Z"
                          fill="#F32B81"></path>
                </svg>
            </div>
        {% endif %}
    </div>
{% endfor %}