<div class="garanty">
    <div class="container">
        <div class="title-wrap">
            <h2 class="title">Гарантии</h2>
        </div>
        <div class="garanty-items">
            <div class="garanty-item">
                <img class="lazy" data-src="/img/garanty-1.svg" height="100" width="100" alt="garanty">
                <div class="text">Основан в 2013 году</div>
                <a rel="nofollow" href="https://www.reg.ru/whois/dimikey.com" rel="nofollow" target="_blank" class="btn-default btn-small">Проверить</a>
            </div>
            <div class="garanty-item">
                <img class="lazy" data-src="/img/garanty-2.svg" height="100" width="100" alt="garanty">
                <div class="text">372к+ положительных отзывов</div>
                <a href="{{ path('responses') }}" class="btn-default btn-small">Смотреть все</a>
            </div>
            <div class="garanty-item">
                <img class="lazy" data-src="/img/garanty-3.svg" height="100" width="100" alt="webmoney">
                <div class="text">Аттестат WebMoney</div>
{#                <a href="#" class="btn-default btn-small">Подробнее</a>#}
            </div>
        </div>
    </div>
</div>