<div class="header-controls">
    <div class="lang currency">
        <div class="lang-active" style="color: white;">
            {% if curr == 'wmr' %}₽{% elseif curr == 'wmz'%}${% elseif curr == 'wme'%}€{% endif %}
        </div>
        <div class="lang-dropdown">
            <div data-curr="wmr" class="lang-dropdown-item {% if curr == 'wmr' %}active{% endif %}">
                ₽
            </div>
            <div data-curr="wmz" class="lang-dropdown-item {% if curr == 'wmz' %}active{% endif %}">
                $
            </div>
            <div data-curr="wme" class="lang-dropdown-item {% if curr == 'wme' %}active{% endif %}">
                €
            </div>
        </div>
    </div>
</div>