<div class="reviews">
    <div class="container">
        <div class="title-wrap">
            <h2 class="title">Последние отзывы</h2>
            <a href="{{ path('responses') }}" class="title-link">Смотреть все</a>
        </div>
        <div class="reviews-items">
            <div class="reviews-item">
                <img class="lazy" data-src="/img/icon-like.svg" height="55" width="55" alt="good">
                <div class="text">ВСЕ ПРИШЛО!ДАЖЕ НА РУССКОМ ЯЗЫКЕ АКК. ХОЧУ ПОДАРОК
                </div>
{#                <div class="info">#}
{#                    <div class="date">22.02.2021</div>#}
{#                    <div class="time">15:46</div>#}
{#                </div>#}
            </div>
            <div class="reviews-item">
                <img class="lazy" data-src="/img/icon-like.svg" height="55" width="55" alt="good">
                <div class="text">АККАУНТ БЫСТРО ЗАМЕНИЛИ
                </div>
{#                <div class="info">#}
{#                    <div class="date">22.02.2021</div>#}
{#                    <div class="time">15:46</div>#}
{#                </div>#}
            </div>
            <div class="reviews-item">
                <img class="lazy" data-src="/img/icon-like.svg" height="55" width="55" alt="good">
                <div class="text">ВСЁ ОТЛИЧНО. ПРОДАВЦА РЕКОМЕНДУЮ!
                </div>
{#                <div class="info">#}
{#                    <div class="date">22.02.2021</div>#}
{#                    <div class="time">15:46</div>#}
{#                </div>#}
            </div>
            <div class="reviews-item">
                <img class="lazy" data-src="/img/icon-like.svg" height="55" width="55" alt="good">
                <div class="text">ОТЛИЧНЫЙ ПРОДАВЕЦ
                </div>
{#                <div class="info">#}
{#                    <div class="date">22.02.2021</div>#}
{#                    <div class="time">15:46</div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>