<!DOCTYPE html>
<html>
    <head>
        {% set seo = get_configs() %}
        {% set curr = app.request.cookies.get('curr') ?? 'wmr' %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
        <meta name="yandex-verification" content="f34c11335b2b8733" />
        {# <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet"> #}

        <meta name="description" content="{% block description %}{{ seo['description'] }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{{ seo['keywords'] }}{% endblock %}">
        <title>{% block title %}{{ seo['sitename'] }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/main.css">
            <link rel="stylesheet" href="/css/nouislider.min.css">
        {% endblock %}
        {% block ld %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="">
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="/js/main.js"></script>
            <script type="text/javascript" src="/js/custom.js"></script>
        {% endblock %}
    </body>
</html>
