{% extends 'base.html.twig' %}
{% block body %}
    {% include 'common/_header.html.twig' %}
    <div class="page page-home">
        <div class="container">
            <div class="home-cat-links">
                {% for header in headers %}
                    <a class="home-cat-link-item" href="{{ header.url }}">
                        <img src="{{ header.image }}" alt="">
                        <span class="icon-link">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="#6162F2" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M7 7L17 7V17" stroke="#6162F2" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </a>
                {% endfor %}
            </div>
            <h2>Лидеры продаж</h2>

            {% set path = path('filter', {limit:15}) %}
            <div class="product-items js-game-container"  data-path="{{ path }}" data-filter="{{ path }}"
                 data-page="1">
                {% include 'common/_all_games.html.twig' with {games:topGames} %}
            </div>
            <div class="btn-center-wrap js-show-more"><a class="btn btn-show-more">
                    <span>Показать еще</span>
                </a></div>
        </div>
        <div class="block-stats">
            <div class="container">
                <div class="stats-items">
                    <div class="stats-item">
                        <div class="left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"
                                 fill="none">
                                <path d="M21 4H3C2.447 4 2 4.447 2 5V19C2 19.553 2.447 20 3 20H21C21.553 20 22 19.553 22 19V5C22 4.447 21.553 4 21 4ZM20 15C18.343 15 17 16.343 17 18H7C7 16.343 5.657 15 4 15V9C5.657 9 7 7.657 7 6H17C17 7.657 18.343 9 20 9V15Z"
                                      fill="white"></path>
                                <path d="M12 8C9.794 8 8 9.794 8 12C8 14.206 9.794 16 12 16C14.206 16 16 14.206 16 12C16 9.794 14.206 8 12 8ZM12 14C10.897 14 10 13.103 10 12C10 10.897 10.897 10 12 10C13.103 10 14 10.897 14 12C14 13.103 13.103 14 12 14Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                        <div class="right">
                            <div class="num">2 492</div>
                            <div class="text">Продавцов</div>
                        </div>
                    </div>
                    <div class="stats-item">
                        <div class="left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"
                                 fill="none">
                                <path d="M11.707 2.293C11.52 2.105 11.265 2 11 2H6C5.735 2 5.48 2.105 5.293 2.293L2.293 5.293C2.105 5.48 2 5.734 2 6V11C2 11.266 2.105 11.52 2.293 11.707L12.293 21.707C12.488 21.902 12.744 22 13 22C13.256 22 13.512 21.902 13.707 21.707L21.707 13.707C22.098 13.316 22.098 12.684 21.707 12.293L11.707 2.293ZM13 19.586L4 10.586V6.414L6.414 4H10.586L19.586 13L13 19.586Z"
                                      fill="white"></path>
                                <path d="M10.647 12.294C11.5566 12.294 12.294 11.5566 12.294 10.647C12.294 9.73739 11.5566 9 10.647 9C9.73739 9 9 9.73739 9 10.647C9 11.5566 9.73739 12.294 10.647 12.294Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                        <div class="right">
                            <div class="num">13.9М+</div>
                            <div class="text">Продаж</div>
                        </div>
                    </div>
                    <div class="stats-item">
                        <div class="left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"
                                 fill="none">
                                <path d="M7 7H17V9H7V7ZM7 11H14V13H7V11Z" fill="white"></path>
                                <path d="M20 2H4C2.897 2 2 2.897 2 4V22L7.333 18H20C21.103 18 22 17.103 22 16V4C22 2.897 21.103 2 20 2ZM20 16H6.667L4 18V4H20V16Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                        <div class="right">
                            <div class="num">888 597</div>
                            <div class="text">Отзывов</div>
                        </div>
                    </div>
                    <div class="stats-item">
                        <div class="left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"
                                 fill="none">
                                <path d="M21.438 5.08898C21.137 4.92998 20.774 4.93698 20.479 5.10398C19.795 5.49298 19.124 5.68098 18.426 5.68098C16.391 5.68098 14.474 4.05198 12.704 2.29098C12.329 1.91798 11.641 1.91798 11.266 2.29098C9.59198 3.95898 7.59798 5.66298 5.50998 5.66298C4.81998 5.66298 4.15898 5.47898 3.49198 5.10198C3.19398 4.93598 2.83398 4.93098 2.53198 5.08998C2.22998 5.24898 2.03098 5.55098 2.00398 5.89098C1.99298 6.01998 1.05998 18.763 11.687 21.932C11.78 21.96 11.876 21.974 11.973 21.974H12C12.097 21.974 12.192 21.96 12.285 21.933C22.942 18.763 21.98 6.01698 21.969 5.88898C21.94 5.54898 21.74 5.24798 21.438 5.08898ZM11.986 19.931C5.00698 17.676 4.05198 10.519 3.97198 7.45398C4.47698 7.59398 4.99098 7.66298 5.50898 7.66298C8.00098 7.66298 10.159 6.09598 11.985 4.37998C13.878 6.16798 15.968 7.68098 18.427 7.68098C18.957 7.68098 19.484 7.60698 20.002 7.46098C19.928 10.526 18.981 17.678 11.986 19.931Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                        <div class="right">
                            <div class="num">12 лет</div>
                            <div class="text">Успешной работы</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-earn">
            <div class="left">
                <h2><span>Зарабатывай </span>вместе с нами!</h2>
                <div class="earn-list">
                    <div class="earn-list-item">
                        <div class="num">1</div>
                        <div class="text">Получайте хороший процент от покупок по вашей ссылке!</div>
                    </div>
                    <div class="earn-list-item">
                        <div class="num">2</div>
                        <div class="text">Получите партнерскую ссылку;</div>
                    </div>
                    <div class="earn-list-item">
                        <div class="num">3</div>
                        <div class="text">Расскажите о ZAKA-ZAKAS;</div>
                    </div>
                    <div class="btn-wrap"><a class="btn btn-gradient" target="_blank" rel="nofollow" href="https://ggsel.com/how">Стать партнером</a></div>
                </div>
            </div>
        </div>
        <div class="block-productation">
            <div class="container">
                <div class="swiper-wrap">
                    <h2>
                        Рекомендованно <br>именно вам </h2>
                    <div class="swiper recommend-slider">
                        <div class="swiper-wrapper">
                            {% for game in games %}
                                <div class="swiper-slide">
                                    {% include 'common/_game_item.html.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-btn-wrap">
                        <div class="swiper-button-prev swiper-recommend-prev"></div>
                        <div class="swiper-button-next swiper-recommend-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'common/_footer.html.twig' %}
    <a class="btn btn-to-top" href="#">
        <svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.99864 5.41667L9.6653 0.75H0.33197L4.99864 5.41667Z" fill="#fff"></path>
        </svg>
    </a>
{% endblock %}